@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-weight: 400;
    font-size: 48px;
    padding: 0;
}

h2 {
    font-size: 36px;
    font-weight: 300;
    border-bottom: 1px dotted gray;
}

p {
    font-size: 28px;
    font-weight: 300;
}

text {
    text-align: left;
}

.container {
    padding: 12px;
    text-align: center;
}

.board {
    display: inline-flex;
    justify-content: center;
    gap: 12px;

    padding: 12px;
    border-radius: 8px;
    width: auto;

    background-color: rgb(199, 240, 253);
}

.text-box {
    padding: 0 16px;

    border: 1px solid gray;
    border-radius: 5px;
    
    min-width: 72px;
}

.player {
    border-bottom: 1px dashed gray;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 16px;
}

button {
    margin: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 50%;
    border: solid 1px lightgray;
    filter: grayscale(90%);
}

button:hover {
    transform: scale(1.05);
}

button:hover img {
    filter: grayscale(0);
}

.human-selected-button {
    background-color: aquamarine;
}

.human-selected-button img {
    border: solid 1px rgb(41, 233, 169);
    filter: grayscale(0);
}

.computer-selected-button {
    background-color: rgb(255, 172, 172);
}

.computer-selected-button img {
    border: solid 1px rgb(244, 110, 110);
    filter: grayscale(0);
}

.tie-button {
    background-color: rgb(248, 243, 114);
}

.tie-button img {
    border: solid 1px rgb(255, 218, 85);
}